.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.sectionTitle {
  color: #444;
  font-size: 1.8rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  margin-top: 30px;
}

.section {
  margin-bottom: 30px;
}

.aboutMe {
  margin-bottom: 30px;
}

.aboutMe strong {
  color: #333;
}

.text {
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

.link {
  color: #0077b5;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  background-color: #e0e0e0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

.skill {
  margin-bottom: 20px;
}

.skillTitle {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.projectTitle {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.language {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #333;
}